html
  div(id!='course-reserves-#{id}')
  script(type!='text/javascript').
    const now = new Date();
    const courseStartDate = new Date('#{startDate}');
    const courseEndDate = new Date('#{endDate}');
    window.onLoad(() => {
      fetch('#{reservesUrl}')
        .then(response => response.json())
        .then(json => {
          const target = document.getElementById('course-reserves-#{id}');
          if (json.totalRecords === 0) {
            target.innerText('No reserves for course with ID #{id}');
            return;
          }

          const ul = document.createElement('ul');
          json.reserves.forEach(r => {
            const itemStartDate = r.startDate ? new Date(r.startDate) : courseStartDate;
            const itemEndDate = r.endDate ? new Date(r.endDate) : courseEndDate;

            const startDate = itemStartDate > courseStartDate ? itemStartDate : courseStartDate;
            const endDate = itemEndDate > courseEndDate ? itemEndDate : courseEndDate;

            if (now < startDate || now > endDate) return;

            const item = r.copiedItem;
            const li = document.createElement('li');
            li.innerHTML = `${item.name}: ${item.barcode}`;
            ul.append(item);
          });
          target.append(ul);
        });
    })

