mixin reserve-list-item(reserve)
  li(class="reserve-list-item")
    div
      a(class="reserve-url" href=reserve.getString("uri") target="_parent") #{reserve.getString("title")}
      if (reserve.getString("primaryContributor"))
        span  - #{reserve.getString("primaryContributor")}
    div
      span(class="reserve-date", data-start-date=reserve.getString("startDate"), data-end-date=reserve.getString("endDate"))

ul(class="lti-course-reserves-list")
  each reserve in reserves
    +reserve-list-item(reserve)
  else
    div #{noReservesMessage}

script(type!="text/javascript").
  document.querySelectorAll('.lti-course-reserves-list [data-start-date]').forEach(node => {
    node.innerText = new Date(node.dataset.startDate).toLocaleDateString(undefined, { timeZone: "UTC" });
    node.innerHTML += '&nbsp;&#8594;&nbsp;'
    node.innerText += new Date(node.dataset.endDate).toLocaleDateString(undefined, { timeZone: "UTC" });
  });

