mixin reserve-list-item(reserve)
  li(class="reserve-list-item")
    if (reserve.getBoolean("suppressDiscovery") && !reserve.getBoolean("hasElectronicAccess"))
      span(class="reserve-title") #{reserve.getString("title")}
    else
      a(class="reserve-url" href=reserve.getString("uri") target="_parent") #{reserve.getString("title")}

    if (reserve.getString("primaryContributor"))
      span  - #{reserve.getString("primaryContributor")}

    if (reserve.getBoolean("suppressDiscovery") && !reserve.getBoolean("hasElectronicAccess"))
      span &nbsp;(available at #{reserve.getString("locationDisplayName")})

ul(class="lti-course-reserves-list")
  each reserve in reserves
    +reserve-list-item(reserve)

include Styles.jade

